/* "Colmar Stylesheet" */

html {
  font-family: verdana;
  color: #404040;
  font-size: 16px;
}
body {
  margin: 0rem;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

/* "Colmar Heading" */

header {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  position: fixed;
  flex-flow: row;
  align-items: center;
}
header h2 {
 flex: 1;
}
nav {
  display: flex;
  flex-flow: row;
  padding-right: 1rem;
}
.nav {
  padding: 0em 0.5rem;
}

/* "Colmar Desktop" */

.colmar {
  padding-top: 4rem;
  display: flex;
  flex-flow: column;
  border-left: .0625rem solid #bebebe;
  border-right: .0625rem solid #bebebe;
  width: 65.625rem;
  flex: 1;
  margin: 1rem;
}

/* "Learn Section" */

.learn {
  background-color: #e8e8e8;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.intro {
  max-width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}
.intro img {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
  margin: 0 auto;
}
.lorem {
  display: flex;
  flex-flow: column;
  width: 40%;
  padding: 1.5rem 2rem;
}
.startbutton {
  text-align: center;
  color: #f8f8f8;
  font-weight: lighter;
  background-color: #404040;
  padding: 0.5rem 0rem;
  width: 80%;
}

/* "Feature Section" */

.feature {
  background-color: #f8f8f8;
  display: flex;
  align-items: flex-start;
  flex-flow: row;
}
.practice {
  display: flex;
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
  flex-flow: column;
}
.practice img {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
}
.practice p {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.buttons {
  display: flex;
  flex-flow: column;
  width: 40%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.buttons div {
  display: flex;
  border-top: .0625rem solid #e8e8e8;
  border-right: .0625rem solid #e8e8e8;
  border-bottom: .0625rem solid #e8e8e8;
  border-left: .0625rem solid #e8e8e8;
  flex-flow: row;
}
.buttons img {
  padding: 1rem;
  width: 100%;
  height: 100%;
  flex: 1;
}
#buttons span {
  display: flex;
  flex-flow: row;
}
.guest {
  background-color: #d8d8d8;
}

/* "Start Section" */

.start {
  background-color: #e8e8e8;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.banner {
  width: 100%;
  padding: 2rem 0rem;
  text-align: center;
}
.start h2 p {
  padding: 0.5rem 0.5rem;
}
.start img {
  height: auto;
  width: 100%;
}
.starters {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0rem 4.5rem;
}
.starters div {
  width: 30%;
  background-color: white;
  margin: 0rem 2rem;
}
.finishers {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0rem 4.5rem;
  margin: 2rem 0rem;
}
.finishers div {
  width: 30%;
  background-color: white;
  margin: 0rem 2rem;
}

/* "Thesis Section" */

.thesis {
  background-color: #f8f8f8;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.thesisbanner {
  display: block;
  width: 100%;
  padding: 2rem 0rem;
  text-align: center;
}
.urban {
  display: flex;
  width: 60%;
  height: auto;
  flex-flow: column;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  align-items: flex-start;
}
.urban video {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
}
.thesisbuttons {
  flex-flow: row;
  width: 40%;
  height: auto;
  flex: 1;
}
.thesisbuttons div {
  display: flex;
  flex-flow: row;
}
.thesisbuttons img {
  width: 35%;
  height: 35%;
  padding: 1rem 1rem;
}
.thesisbuttons span {
  display: flex;
  flex: 1;
  padding: 1rem 1rem;
  flex-flow: column;
}
.fisma {
  background-color: #d8d8d8;
}

/* "Footer Section" */

.footer {
  background-color: #f8f8f8;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.copyright {
  padding-left: 1.5rem;
  flex: 1;
}
.privacy {
  display: flex;
  flex-flow: row;
}
.privacy h4 {
  padding: 1rem 0.5rem;
}

/* "Mobile" */
